<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWebShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servleti.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrujSe</display-name>
    <servlet-name>RegistrujSe</servlet-name>
    <servlet-class>servleti.RegistrujSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrujSe</servlet-name>
    <url-pattern>/RegistrujSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKategoriju</display-name>
    <servlet-name>DodajKategoriju</servlet-name>
    <servlet-class>adminServleti.DodajKategoriju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKategoriju</servlet-name>
    <url-pattern>/DodajKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajDostavljaca</display-name>
    <servlet-name>DodajDostavljaca</servlet-name>
    <servlet-class>adminServleti.DodajDostavljaca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajDostavljaca</servlet-name>
    <url-pattern>/DodajDostavljaca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProdavnicu</display-name>
    <servlet-name>DodajProdavnicu</servlet-name>
    <servlet-class>adminServleti.DodajProdavnicu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProdavnicu</servlet-name>
    <url-pattern>/DodajProdavnicu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProizvod</display-name>
    <servlet-name>DodajProizvod</servlet-name>
    <servlet-class>adminServleti.DodajProizvod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProizvod</servlet-name>
    <url-pattern>/DodajProizvod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKategoriju</display-name>
    <servlet-name>ObrisiKategoriju</servlet-name>
    <servlet-class>adminServleti.ObrisiKategoriju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKategoriju</servlet-name>
    <url-pattern>/ObrisiKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifikujKategoriju</display-name>
    <servlet-name>ModifikujKategoriju</servlet-name>
    <servlet-class>servletiModifikacija.ModifikujKategoriju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifikujKategoriju</servlet-name>
    <url-pattern>/ModifikujKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiDostavljaca</display-name>
    <servlet-name>ObrisiDostavljaca</servlet-name>
    <servlet-class>adminServleti.ObrisiDostavljaca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiDostavljaca</servlet-name>
    <url-pattern>/ObrisiDostavljaca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiProdavnicu</display-name>
    <servlet-name>ObrisiProdavnicu</servlet-name>
    <servlet-class>adminServleti.ObrisiProdavnicu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiProdavnicu</servlet-name>
    <url-pattern>/ObrisiProdavnicu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiProizvod</display-name>
    <servlet-name>ObrisiProizvod</servlet-name>
    <servlet-class>adminServleti.ObrisiProizvod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiProizvod</servlet-name>
    <url-pattern>/ObrisiProizvod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKorisnika</display-name>
    <servlet-name>ObrisiKorisnika</servlet-name>
    <servlet-class>adminServleti.ObrisiKorisnika</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKorisnika</servlet-name>
    <url-pattern>/ObrisiKorisnika</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servleti.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpu</display-name>
    <servlet-name>DodajUKorpu</servlet-name>
    <servlet-class>kupovina.DodajUKorpu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpu</servlet-name>
    <url-pattern>/DodajUKorpu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdbaciProizvod</display-name>
    <servlet-name>OdbaciProizvod</servlet-name>
    <servlet-class>kupovina.OdbaciProizvod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdbaciProizvod</servlet-name>
    <url-pattern>/OdbaciProizvod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupovinaServlet</display-name>
    <servlet-name>KupovinaServlet</servlet-name>
    <servlet-class>kupovina.KupovinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupovinaServlet</servlet-name>
    <url-pattern>/KupovinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajIzmjenuKategorije</display-name>
    <servlet-name>SacuvajIzmjenuKategorije</servlet-name>
    <servlet-class>servletiModifikacija.SacuvajIzmjenuKategorije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmjenuKategorije</servlet-name>
    <url-pattern>/SacuvajIzmjenuKategorije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifikujDostavljaca</display-name>
    <servlet-name>ModifikujDostavljaca</servlet-name>
    <servlet-class>servletiModifikacija.ModifikujDostavljaca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifikujDostavljaca</servlet-name>
    <url-pattern>/ModifikujDostavljaca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajIzmjenuDostavljaca</display-name>
    <servlet-name>SacuvajIzmjenuDostavljaca</servlet-name>
    <servlet-class>servletiModifikacija.SacuvajIzmjenuDostavljaca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmjenuDostavljaca</servlet-name>
    <url-pattern>/SacuvajIzmjenuDostavljaca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifikujProdavnicu</display-name>
    <servlet-name>ModifikujProdavnicu</servlet-name>
    <servlet-class>servletiModifikacija.ModifikujProdavnicu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifikujProdavnicu</servlet-name>
    <url-pattern>/ModifikujProdavnicu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajIzmjenuProdavnice</display-name>
    <servlet-name>SacuvajIzmjenuProdavnice</servlet-name>
    <servlet-class>servletiModifikacija.SacuvajIzmjenuProdavnice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmjenuProdavnice</servlet-name>
    <url-pattern>/SacuvajIzmjenuProdavnice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifikujProizvod</display-name>
    <servlet-name>ModifikujProizvod</servlet-name>
    <servlet-class>servletiModifikacija.ModifikujProizvod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifikujProizvod</servlet-name>
    <url-pattern>/ModifikujProizvod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajIzmjenuProizvoda</display-name>
    <servlet-name>SacuvajIzmjenuProizvoda</servlet-name>
    <servlet-class>servletiModifikacija.SacuvajIzmjenuProizvoda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajIzmjenuProizvoda</servlet-name>
    <url-pattern>/SacuvajIzmjenuProizvoda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IstorijaKupovineServlet</display-name>
    <servlet-name>IstorijaKupovineServlet</servlet-name>
    <servlet-class>kupovina.IstorijaKupovineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IstorijaKupovineServlet</servlet-name>
    <url-pattern>/IstorijaKupovineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikaziRecenzijeServlet</display-name>
    <servlet-name>PrikaziRecenzijeServlet</servlet-name>
    <servlet-class>recenzije.PrikaziRecenzijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikaziRecenzijeServlet</servlet-name>
    <url-pattern>/PrikaziRecenzijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajRecenzijuServlet</display-name>
    <servlet-name>DodajRecenzijuServlet</servlet-name>
    <servlet-class>recenzije.DodajRecenzijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajRecenzijuServlet</servlet-name>
    <url-pattern>/DodajRecenzijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiRecenzijuServlet</display-name>
    <servlet-name>ObrisiRecenzijuServlet</servlet-name>
    <servlet-class>recenzije.ObrisiRecenzijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiRecenzijuServlet</servlet-name>
    <url-pattern>/ObrisiRecenzijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmjeniRecenzijuServlet</display-name>
    <servlet-name>IzmjeniRecenzijuServlet</servlet-name>
    <servlet-class>recenzije.IzmjeniRecenzijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmjeniRecenzijuServlet</servlet-name>
    <url-pattern>/IzmjeniRecenzijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnimiIzmjenuRecenzije</display-name>
    <servlet-name>SnimiIzmjenuRecenzije</servlet-name>
    <servlet-class>recenzije.SnimiIzmjenuRecenzije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnimiIzmjenuRecenzije</servlet-name>
    <url-pattern>/SnimiIzmjenuRecenzije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OcjeniRecenzijuServlet</display-name>
    <servlet-name>OcjeniRecenzijuServlet</servlet-name>
    <servlet-class>recenzije.OcjeniRecenzijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OcjeniRecenzijuServlet</servlet-name>
    <url-pattern>/OcjeniRecenzijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetKorpa</display-name>
    <servlet-name>GetKorpa</servlet-name>
    <servlet-class>kupovina.GetKorpa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKorpa</servlet-name>
    <url-pattern>/GetKorpa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetKupovina</display-name>
    <servlet-name>GetKupovina</servlet-name>
    <servlet-class>kupovina.GetKupovina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKupovina</servlet-name>
    <url-pattern>/GetKupovina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>MyWebShop</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaviNaAkciju</display-name>
    <servlet-name>StaviNaAkciju</servlet-name>
    <servlet-class>akcija.StaviNaAkciju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaviNaAkciju</servlet-name>
    <url-pattern>/StaviNaAkciju</url-pattern>
  </servlet-mapping>  
</web-app>