<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWebShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servleti.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrujSe</display-name>
    <servlet-name>RegistrujSe</servlet-name>
    <servlet-class>servleti.RegistrujSe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrujSe</servlet-name>
    <url-pattern>/RegistrujSe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKategoriju</display-name>
    <servlet-name>DodajKategoriju</servlet-name>
    <servlet-class>adminServleti.DodajKategoriju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKategoriju</servlet-name>
    <url-pattern>/DodajKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajDostavljaca</display-name>
    <servlet-name>DodajDostavljaca</servlet-name>
    <servlet-class>adminServleti.DodajDostavljaca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajDostavljaca</servlet-name>
    <url-pattern>/DodajDostavljaca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProdavnicu</display-name>
    <servlet-name>DodajProdavnicu</servlet-name>
    <servlet-class>adminServleti.DodajProdavnicu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProdavnicu</servlet-name>
    <url-pattern>/DodajProdavnicu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProizvod</display-name>
    <servlet-name>DodajProizvod</servlet-name>
    <servlet-class>adminServleti.DodajProizvod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProizvod</servlet-name>
    <url-pattern>/DodajProizvod</url-pattern>
  </servlet-mapping>
</web-app>